@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
  }
svg{
  transform:rotate(-90deg)
}
  .circle1{
    stroke-dasharray:660;
  }
  .circle2{
    stroke-dasharray:340;
  }
  .circle3{
    stroke-dasharray:410;
  }